.children{
	max-width: 100%;
}
.tint{
	position: relative;
	float: left;
}
.tint:before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.65);	
}
.onimage{
	color: #fff;
	position: absolute;
	top: 0;
	padding-top: 200px;
	margin-left: 20px
}
.joinusbutton{

	margin-left: 80px;
	margin-top: 50px;
	border: 3px solid rgba(255,255,255,0.6);
	width: 150px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	float: left;
	-webkit-transition:all .15s linear;
	-moz-transition:all .15s linear;
	-ms-transition:all .15s linear;
	-o-transition:all .15s linear;
	transition:all .15s linear;
}
.onimage > a{
	text-decoration: none;
	color: white;
}
.joinusbutton:hover,.joinusbutton:active{
	border: 3px solid rgba(255,255,255,1);
	font-size: 21px;
}
.donatebutton{

	margin-left: 350px;
	margin-top: 71px;
	border: 3px solid rgba(255,255,255,0.6);
	width: 150px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	-webkit-transition:all .15s linear;
	-moz-transition:all .15s linear;
	-ms-transition:all .15s linear;
	-o-transition:all .15s linear;
	transition:all .15s linear;
}
.donatebutton:hover,.donatebutton:active{
	border: 3px solid rgba(255,255,255,1);
	font-size: 21px;
}
.information{
	margin-top:150px;
	font-size: 25px;
	color: #fff;
	background-color: #1abc9c;
	padding: 4px 4px 4px 4px;
	font-weight: bold;
	margin-right: 50px;
}
.facebookfeed{

	border:none;
	overflow:hidden;
	width:600px;
	height:680px;
	background: white;
	float:right;
}
.content{
	
	margin-left: 10px;
}
.content > h1{
	top: 10;
	font-family: 'Tangerine', cursive;
	font-size: 50px;
}
.content > p{
	font-size: 18px;
}
footer{
	clear: both;
	background: #0074D9;
	height: 120px;
	line-height: 100px;
}
footer > span{
	float: right;
	margin-right: 100px;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
}
footer > .social-buttons{
	margin-left: 50px;
	margin-top: 15px;
	float: left;
}
/* Wrapper */
footer > .social-buttons > .icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}
/* Circle */
footer > .social-buttons > .icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
footer > .social-buttons > .icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
footer > .social-buttons > .twitter span {
	background-color: #4099ff;
}
footer > .social-buttons > .facebook span {
	background-color: #3B5998;
}
footer > .social-buttons > .google-plus span {
	background-color: #db5a3c;
}

/* Icons */
footer > .social-buttons > .icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
footer > .social-buttons > .icon-button .icon-twitter {
	color: #4099ff;
}
footer > .social-buttons > .icon-button .icon-facebook {
	color: #3B5998;
}
footer > .social-buttons > .icon-button .icon-google-plus {
	color: #db5a3c;
}
footer > .social-buttons > .icon-button:hover .icon-twitter,
footer > .social-buttons > .icon-button:hover .icon-facebook,
footer > .social-buttons > .icon-button:hover .icon-google-plus {
	color: white;
}